name: Nix
on:
  push:
    branches: [ main ]
  pull_request:
    branches: [ main ]

env:
  BUILD_TYPE: Release

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
    - uses: actions/checkout@v5
    - uses: cachix/install-nix-action@v31.8.4

    - name: Enable experimental-features
      run: export NIX_CONFIG="experimental-features = nix-command flakes"

    - name: Setup environment
      run: chmod +x shell.sh && ./shell.sh

    - name: Build
      run: chmod +x build.sh && ./build.sh

    - name: Run
      run: chmod +x run.sh && ./run.sh